<p>
  <strong>Title:</strong>
  <%= @item.title %>
</p>

<p>
  <strong>Body:</strong>
  <%= @item.body %>
</p>

<p>
  <strong>User:</strong>
  <%= @item.user %>
</p>

<p>
  <strong>Published:</strong>
  <%= @item.published %>
</p>

<p>
  <strong>Private:</strong>
  <%= @item.private %>
</p>

<%= link_to 'Edit', edit_user_item_path(@item.user, @item) %> |
<%= link_to 'Back', user_items_path(@item.user) %>
